doctype html
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet" href="/font-awesome/css/font-awesome.css")
      link(rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")
      link(rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
      title King County Master Calendar Input
      //[if lt IE 9]
      script(src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
      script(src="//oss.maxcdn.com/respond/1.4.2/respond.min.js")
      //[endif]
      style.
        .dataTables_wrapper .dataTables_paginate .paginate_button {
          padding: 0;
        }
        #spinner-front, #spinner-back {
          position: fixed;
          top: 0;
          left: 0;
          visibility: hidden;
          opacity: 0;
          width: 100%;
          transition: all 1s;
        }
        #spinner-front {
          z-index: 999;
          margin-top: 45vh;
          color: #fff;
          text-align: center;
        }
        #spinner-back {
          z-index: 998;
          height: 100vh;
          background: #000;
        }
        #spinner-front.show {
          visibility: visible;
          opacity: 1;
        }
        #spinner-back.show {
          visibility: visible;
          opacity: 0.7;
        }
  body
    #spinner-front
      img(src="/ajax-loader.gif")
      br 
      | Please wait...
    #spinner-back
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button(type="button" class="collapsed navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-9" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") King County Master Calendar
        .collapse.navbar-collapse#bs-example-navbar-collapse-9
          ul.nav.navbar-nav
            li
              a(href="/add") Add event
            li 
              a(href="/events") All events
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/logout") Logout
    .container
      .row
        .col-sm-12
          h1 #{title}
        block content
    block footer
      script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
      script.
       function show () {
        document.getElementById("spinner-front").classList.add("show");
        document.getElementById("spinner-back").classList.add("show");
        }
        function hide () {
          document.getElementById("spinner-front").classList.remove("show");
          document.getElementById("spinner-back").classList.remove("show");
        }
            