doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")
    title King County Master Calendar Input: Login
    //[if lt IE 9]
    script(src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
    script(src="//oss.maxcdn.com/respond/1.4.2/respond.min.js")
    //[endif]
  body
    .container
      .row
        .col-sm-12
          h1 King County Master Calendar Login
        .col-sm-12
          form(action="/login" method="post" id="login-form")
            .form-group
              label(for="user") User name
              input.form-control(type="text" name="user" id="user")
            .form-group
              label(for="pass") Password
              input.form-control(type="text" name="pass" id="pass")
            button.btn.btn-primary(type="submit") Sign in
    script(src="//code.jquery.com/jquery-3.1.1.slim.min.js")
    script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
    