extends base.pug
block content
  .col-sm-12
    form(action="/login" method="post" id="login-form")
      .form-group
        label(for="user") User name
        input.form-control(type="text" name="user" id="user")
      .form-group
        label(for="pass") Password
        input.form-control(type="password" name="pass" id="pass")
      button.btn.btn-primary(type="submit") Sign in